apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: fortend-hpa
  namespace: glamai-ns
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: fortend-dep
  minReplicas: 2
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 20
        
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 30  
      policies:
      - type: Percent
        value: 1                    
        periodSeconds: 15